@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Cyrela @ViewData["Cyrela"]</p>
<address>
    <strong> Mais Informações</strong> <a href="suporte@cyrela.com.br">cyrela.com.br</a>
</address>

